@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}
body{
    background: url('weather\ bg.png');
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p{
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
nav{
    background-color: #e8f5e9;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}
.main-nav{
    justify-content: space-between;
    padding: 8px 0;
    cursor: pointer;
}
.myLogo img{
    width: 10px;
}
.main-nav img{
    width: 180px;
    margin-left: -15px;
}
.nav-links ul{
    gap: 16px;
}
.hover-links{
    cursor: pointer;
}
.nav-item.active{
    color: var(--accent-color-dark);
}
.hover-links:hover{
    color: var(--secondary-text-color);
}
.hover-links:active{
    color: red;
}
.search-bar{
    height: 32px;
    gap: 8px;
}
.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}
.search-button{
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
.search-button:hover{
    background-color: var(--accent-color-dark);
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 15px 10px 8px #d4ecff;
    background-color: #c9cfe1;
    transform: translateY(10px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}
